@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header1 {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 63px 170px;
    /* margin: 63px 170px; */
    align-items: center;
}

.G3 {
    font-size: 30px;
}

.active {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    padding-right: 8px;
}

.Brand {
    text-align: center;
    font-size: 40px;
}

.Group {
    text-align: center;
    font-size: 40px;
}

.lorem1 {
    font-size: 13px;
    width: 500px;
    margin-left: 31%;
    text-align: center;
    color: rgba(114, 114, 114, 1);
    margin-top: 20px;
    justify-content: space-between;
}

.button1 {
    margin-left: 43%;
    width: 180px;
    height: 54px;
    margin-top: 20px;
    background-color: rgba(255, 144, 14, 1);
    border: rgba(255, 144, 14, 1);
    color: white;
    font-size: 20px;
    border-radius: 7px;
}

.banner {
    width: 980px;
    margin-left: 170px;
    margin-top: 50px;
}

.main1 {
    display: flex;
    position: absolute;
    margin-top: -30px;
    margin-bottom: 20px;
}

.main1-section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 221px;
    margin-top: 75px;
}

.main1-section1 img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.main1-section2 {
    margin-right: 231px;
    margin-left: 73px;
    margin-top: 200px;
}

.quick-of {
    font-weight: 500;
    font-size: 25px;
}

.span1 {
    color: rgba(114, 114, 114, 1);
}

.span2 {
    color: black;
    font-weight: 700;
}

.features {
    font-weight: 700;
    font-size: 25px;
    color: rgba(255, 144, 14, 1);
}

.lorem2 {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-top: 22px;
}

.button2 {
    width: 160px;
    height: 44px;
    background-color: rgba(255, 144, 14, 1);
    border: rgba(255, 144, 14, 1);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 22px;

}

.section-3 {
    display: flex;
    position: absolute;
    top: 1520px;
    left: 160px;
}

/* .section-31{
  width: 50%;
}*/
.section32 {
    margin-left: 100px;
}

.section32 img {
    width: 500px;
    height: 700px;
}

.box {
    font-weight: 700;
    font-size: 20px;
    padding-left: 15px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    position: absolute;
    top: 40px;
}

.paragraph1 {
    width: 450px;
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    position: absolute;
    top: 130px;
}

.boxbig {
    margin-top: 200px;
}

.name {
    font-weight: 600;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

.paragraph2 {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-top: 5px;
    padding-left: 15px;
}

.small-box {
    width: 386px;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.year-experience {
    position: absolute;
    top: 2180px;
    left: 620px;
    width: 212px;
    height: 95px;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;

}

.text {
    margin-top: 20px;
}

.section-4 {
    position: absolute;
    top: 2350px;
    left: 150px;
    padding-bottom: 200px;
}

.some {
    font-weight: 700;
    font-size: 35px;
}

.there {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    width: 500px;
    margin-top: 20px;
}

.four-box {
    display: flex;
}

.fb {
    width: 200.83px;
    height: 200.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin: 60px 30px;
    text-align: center;
}

.bb {
    padding-top: 40px;
}

.section-5 {
    margin-top: 90px;
    text-align: center;
}

.our {
    font-weight: 700;
    font-size: 35px;
    margin-left: -70px;
}

.many {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    width: 500px;
    margin-top: 20px;
    margin-left: 280px;
}

.section-6 {
    width: 1100px;
    height: 100px;
    margin: auto;
    margin-right: 30px;
    margin-top: 30px;
}

.pic {
    padding: 0px 20px;
}

.section-7 {
    width: 1000px;
    height: 80px;
    margin-left: 22px;
    margin-top: 60px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
}

.all {
    font-weight: 400;
    font-size: 15px;
    color: #424242;
    padding-top: 30px;
}
@media  screen and (max-width:576px) {
    .header1{
        width: 100%;
    }
    .banner{
          width: 90%;
          margin-left: 20px
    }
    .G3{
        text-align: center;
        margin-left: -55px;
        margin-top: -170px;
    }
    .topnav{
        text-align: center;
        margin-top: 60px;
        margin-left: -115px;
    }
    .top-section-articale{
        margin-top: 5px;
    }
    .lorem1{
        width: 70%;
        margin-left: 60px;
    }
    .button1{
        margin-left: 110px;
    }
    .main1-section1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 500px;
    }
    .team{
        margin-left: -140px ;
    }
    .main1-section2{
        margin-left: -300px;
        margin-top: 1000px;
        width:388px;
        text-align: center;
        
    }
    .section-3{
        margin-top: 500px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 105%;
        margin-left: -180px;
    }
    .section32 img{
        width: 250px;
        height: 270px;
        margin-left: -10px;
    }
    .box{
        width: 400px;
        margin: 90px;
        margin-top: -2px;
        margin-left: 25px;
    }
    .paragraph1{
        width: 380px;
        margin-left: 25px ;
    }
    .boxbig{
        width: 400px;
    }
    .small-box{
        width: 385px;
        margin-left: 23px;
    }
     .year-experience{
        width: 150px;
        height: 80px;
        margin-top:810px;
        margin-left: -590px;
     }
     .text{
        margin-top: 6px;
     }
    .section-4{
        margin-top: 800px;
        margin-left: -150px;
        width: 390px;
        text-align: center;
    }
    .there{
        width: 390px ;
    }
    .four-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 1000px;
    }
    .fb{
        margin-bottom: -215px;
        margin-top: 15px;
        margin-left: 90px;
    }
    .section-5{
        margin-top: 30px;
    }
    .our{
        margin-left: 20px
    }
    .many{
        width: 350px;
        margin-left: 20px;
        margin-top: 3px;
    }
    .section-6{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 390px ;
        height: 600px;
    }
    .pic{
        margin-left: 90px;
    }
    .section-7{
        width: 350px;
        height: 60px;
        margin-bottom: 100px;
        margin-left: 18px;
        position: absolute;
        top: 1800px;
       
    }
    .all{
        margin-top: -15px;
    }
   
}